* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*Defines background and text color for element*/
body {
    background-color: #d9dcd6;
    color: #ffffff;
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
}

h1 {
    display: inline-block;
    font-size: 48px;
}

/* Sets SEO in HoriSEOn to grey for emphasis*/
strong {
    color: #d9dcd6;
}

/* Navigation links will appear at top right of page */
nav {
padding-top: 15px;
margin-right: 20px;
float: right;
font-size: 20px;
}

/* No bullet points for Nav Links, continuing to use list structure for reader*/
ul {
    list-style-type: none;
}

li{
    display: inline-block;
    margin-left: 25px;
} 

a {
    color:  #ffffff;
    text-decoration: none;
}


p {
    font-size: 16px;
}

/* Class still used to differentiate img tag, but URL will be applied in HTML for Alt tag*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
}

/* Defines font family for elements within main - aside and article*/
main {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
article{
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
article section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    background-color: #0072bb;
}
article img{
    max-height: 200px;
    float: left;
    margin-right: 25px;
}
h2{
    margin-bottom: 20px;
    font-size: 36px;
}

/*Unique case of floating right, using ID selector*/
#float-right {
    float: right;
    margin-left: 25px;
}

aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    background-color: #2589bd;
}
aside section {
    margin-bottom: 32px;
}
aside img{
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
h3 {
    margin-bottom: 10px;
    text-align: center;
}


/*Defines formatting for footer elements*/
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: black;
}
/*h4 is lowest priority heading at bottom of page*/
h4 {
    font-size: 20px;
}

